.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;

  width: 275px;

  cursor: pointer;
  h3 {
    animation: fadeIn 0.3s ease-in;
  }

  &.shown-answers {
    justify-content: space-between;
  }
  .show-on-hover {
    opacity: 0;
  }
  .hide-on-hover {
    display: block;
  }

  &:hover {
    background: #888;
    color: #fff;
    .show-on-hover {
      opacity: 1;
    }
    .hide-on-hover {
      display: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
