@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&family=Poppins:wght@400;700&display=swap");

h1 {
	font-family: "Mulish", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 60px;
}

h3 {
	font-family: "Mulish", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
}

.logo-text {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */

	letter-spacing: -0.03em;
}

p {
	font-family: "Poppins";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}
